body {
    background-color: orange;
    text-align: center;
    padding: 20px;
    
}
#header {
    background-color: lightgrey;
    padding: 20px;
    margin: 30px;        
    border: solid 1px #2C3539

}
#element {
    background-color: lightgrey;
    padding: 10px;
}

#section {
    background-color: lightgrey;
    padding: 50px;
    border: solid 1px #2C3539


}

#footer {
    background-color: lightgray;
    padding: 3px;
    margin: 20px;
    border: solid 1px #2C3539

}

