h1 {
    color: rgb(8, 8, 8);
}
body{
    text-align: center;
}

.container {
    border: 2px solid black;
    width: 600px;
    border-radius: 9px;
    margin: 2rem auto;
    background-color: purple;
}

form {
    flex-direction: column;
    width: 80%;
    margin: 2rem auto;
}

input[type="button"] {
    width: 4rem;
    padding: 0.3rem;
    border-radius: 7px;
}

