.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    }
    .fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

header, nav, article, footer {
    border:1px solid #f7cac9;
    color:#ff4f00;
    text-align:center;
    margin:2px;
}

.wrapper{
    display:flex;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    width:100%;
    display:block;
}
li a {
    text-decoration: none;
    display:block;
    background:darkgrey;
    text-align:center;
}
li a:hover {
    background:grey;
    color:black;
}
a {
    color:white;
    padding:5px;
}
    li {
        width:100%;
        display:block;
    }
    li a {
        text-decoration: none;
        display:block;
        background:darkgrey;
        text-align:center;
    }
    li a:hover {
        background:grey;
        color:black;
    }
    a {
        color:white;
        padding:5px;
    }
header{
    color: whitesmoke;
    background-color: black;
}
section{
    display:flex; 
    margin:0;
}
nav{
    flex:1;
}
article{
    flex:3;
}

footer{

}
@media only screen and (max-width: 660px) {
    section {
      flex-direction:column;
    }
  }