header, nav, article, footer {
    border:1px solid black;
    text-align:center;
    background:#f1e1cc;
    margin:2px;
}
.wrapper{
    display:flex;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    width:100%;
    display:block;
}
li a {
    text-decoration: none;
    display:block;
    background:darkgrey;
    text-align:center;
}
li a:hover {
    background:grey;
    color:black;
}
a {
    color:#2a52be;
    padding:5px;
    li {
        width:100%;
        display:block;
    }
    li a {
        text-decoration: none;
        display:block;
        background:darkgrey;
        text-align:center;
    }
    li a:hover {
        background:grey;
        color:black;
    }
    a {
        color:white;
        padding:5px;
